<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet">
    
    <title>Colors</title>
</head>
<body>
    <div class="container">
        <h1 id="pageTitle">My Color Collection</h1>
        <form action="/add-color" method="POST">
            <label for="colorName">Color Name</label>
            <input type="text" name="colorName" id="colorName"/>
            <label for="colorvalue">Color Value</label>
            <input type="text" name="colorValue" id="colorValue" />
            <button type="submit">Submit</button>
        </form>
       <div class="grid">
        <% for (let i in colors) { %>
            <div class="grid__item">
                <svg width="30" height="30" class="grid__item__box">
                    <rect width="30" height="30" style="fill:<%= colors[i].value %>; margin: 1rem" />
                </svg>
                <span><%= colors[i].color %></span>
            </div>
            
        <% } %>
       </div>
    </div>

</body>
</html>