body{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

.container{
    width: 75%;
    margin: auto;
}
.container__items{
    display: flex;
    
}
.container__items__left{
    display: flex;
    flex-direction: column;
}
.container__items__right{
    display: flex;
    flex-direction: column;
}
h1{
    font: inherit;
    font-size: xx-large;
    font-weight: 700;
    color: #2CC29D;
}
.add-color{
    margin-bottom: 0.5rem;
}
.submit{
    font-size: inherit;
    cursor: pointer;
}
.delete-btn{
    font-size: small;
    padding: 0;
    margin-left: 0.1rem;
    cursor: pointer;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}
.grid__item{
    border: solid 1px #0a0a0e;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin: 0.2rem;
}
.grid__item__item{
    display: flex;
    flex-direction: column;
}
.grid__item__box{
    margin-right: 0.2rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #DDE0E0;
    font-style: italic;
    font-size: medium;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #DDE0E0;
    font-style: italic;
    font-size: medium;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #DDE0E0;
    font-style: italic;
    font-size: medium;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #DDE0E0;
    font-style: italic;
    font-size: medium;
  }